*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Noto Sans SC', sans-serif;
}

.container{
    max-width: 920px;
    width: 100%;
    margin: auto
}

.flex-container{
    @include flex_default;
}

ul{
    list-style: none;
}

.logo-container{
    width: 160px;
    height: 80px;

    img{
        width: 100%;
        object-fit: contain;
    }
}

.whitespace{
    flex-grow: 1;
    height: 100%;
}

.dotsContainer{
    position: absolute;
    padding: 20px 30px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
}

.dot{
    margin: 0 10px;
    height: 10px;
    width: 30px;
    border: 1px solid $Color_Cube_blaze-orange;

    &.up{
        margin-bottom: 10px;
    }
}