section {
    padding: $base_Spacing * 2 0;

    &.withPattern {
        background: url(../public/imgs/pattern.png);
        background-repeat: repeat-x;
        padding: $base_Spacing 0;

        .flex-container {
            align-items: center;

            h2 {
                color: $Color_Cube_sugar_cane;
                font-size: $min_font_size * 3;
                flex-grow: 1;
            }
        }
    }
    .section-header {
        text-align: center;
    }
    h1,
    p {
        font-weight: 100;
    }

    h1 {
        color: $Color_Cube_butterfly-bush;
        font-size: $min_font_size * 4;
    }

    h2 {
        color: $Color_Cube_butterfly-bush;
        font-weight: 100;
        font-size: $min_font_size * 2.5;
    }

    h3 {
        padding: $base_Spacing * 2 0;
        color: $Color_Cube_butterfly-bush;
        font-weight: 100;
    }

    p {
        color: $Color_Cube_mine-shaft;
        font-size: $min_font_size * 1.5;
    }
    .divider {
        display: block;
        margin: auto;
        padding: $base_Spacing * 2;
    }

    .col-3 {
        h3 {
            text-align: center;
        }

        p {
            padding: 0 $base_Spacing * 2;
            text-align: center;
        }
    }

    &.grey {
        background-color: $Median_Cut_bon-jour;

        .spaced-par {
            padding: $base_Spacing/2 0;
        }

        .row {
            padding: $base_Spacing/2 0;
        }

        .flex-container:nth-child(1) {
            align-items: end;
        }

        .col-6 {
            margin: auto;
            h2 {
                padding: $base_Spacing 0;
            }

            .text {
                h3 {
                    padding: $base_Spacing/ 2 $base_Spacing;
                }

                p {
                    font-size: $min_font_size;
                    padding: 0 $base_Spacing;
                }
            }

            .slider-container {
                padding: $base_Spacing;
                position: relative;
                &:focus,
                &:active {
                    outline: none;
                }
                .btn {
                    position: absolute;
                    top: 120px;
                    z-index: 10;

                    img {
                        width: 25px;
                        object-fit: contain;
                    }

                    &.right {
                        right: $base_Spacing;
                    }
                }
                .img-slider {
                    height: 300px;
                    .square-big-slider {
                        &:hover {
                            & .img-overlay {
                                visibility: visible;
                                img {
                                    width: 30px;
                                    object-fit: contain;
                                }
                            }
                        }
                    }
                }
                .flex-container {
                    justify-content: space-between;
                    padding: 0;
                    padding-top: ($base_Spacing/2) * 1.5;

                    .square-small-slider {
                        position: relative;

                        &:last-child {
                            display: none;
                        }
                        img {
                            padding-bottom: $base_Spacing/2;
                        }
                        &.underline {
                            border-bottom: 2px solid $Color_Cube_blaze-orange;
                        }

                        &:hover {
                            & .img-overlay {
                                visibility: visible;
                                img {
                                    width: 15px;
                                    object-fit: contain;
                                    padding: 0;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    #big-par {
        height: 108px;
        font-size: $min_font_size * 1.5;
    }

    .module {
        margin: auto;
        h3 {
            padding: $base_Spacing/3 0;
            width: 100%;
            font-weight: 400;
        }
    }

    .classes {
        > .col-6 {
            margin: 0 $base_Spacing/2;
        }
    }

    &.gallery {
        padding: 0;
    }

    &.white {
        h2,
        p {
            &:not(.section-header h2, .section-header p, .main-card-text-conttainer p, .blog p) {
                height: 120px;
            }
        }
    }
    &.card-section {
        .col-6 {
            margin: auto;
        }
        h2 {
            text-align: left;
        }

        .main-card-text-conttainer {
            position: relative;
            p {
                padding-top: $base_Spacing * 3;
            }
            .quote-div {
                width: 120px;
                height: 30px;
                position: absolute;
                top: 15%;
                left: -25%;
                border: 1px solid $Color_Cube_blaze-orange;
                img {
                    padding: $base_Spacing/2 $base_Spacing;
                    width: 60px;
                    object-fit: contain;
                }
            }
        }
        .card-footer {
            .col-6 {
                padding: 0;
            }
            h3,
            p {
                padding: 0;
                width: 100%;
                text-align: center;
                height: auto;
            }
            .btn {
                padding: $base_Spacing/ 4;
                margin: 0 $base_Spacing/ 4;
                img {
                    width: 30px;
                    object-fit: contain;
                }
                &:hover {
                    & img {
                        filter: invert(48%) sepia(22%) saturate(4141%) hue-rotate(355deg) brightness(95%) contrast(114%);
                    }
                }
            }
        }
    }
    &.parallax {
        height: 500px;
        position: relative;
        h3,
        p,
        h2 {
            color: $Color_Cube_sugar_cane;
        }

        h3 {
            font-weight: 400;
        }
        p {
            font-size: (($min_font_size/2) * 3);
        }
        .dot {
            border-color: $Color_Cube_sugar_cane;
        }
        &.stats {
            background: url(../public/imgs/parallax_01.jpg);
            background-position-y: 25%;
            background-size: cover;
        }
        &.kindergarten {
            background: url(../public/imgs/parallax_02.jpg);
            background-position-y: 45%;
            background-size: cover;

            h2 {
                padding: $base_Spacing * 2;
                font-size: $min_font_size * 3;
            }
            p {
                padding: $base_Spacing;
                font-weight: 400;
            }
        }
    }

    &.blog {
        .section-header {
            p {
                margin: 0;
                text-align: center;
            }
        }
        p {
            margin-left: $base_Spacing;
            text-align: left;
        }
        .btn {
            margin: auto;
        }
        .blog-card {
            width: 270px;
            margin: $base_Spacing;

            .blog-card-img-container {
                position: relative;
            }
            h3,
            p {
                text-align: left;
            }
            h3 {
                padding: 0;
            }
            > p {
                margin: 0;
                padding-bottom: $base_Spacing/2;
                border-bottom: 1px solid $Color_Cube_mine-shaft;
            }
            img {
                width: 100%;
                object-fit: contain;

                &.symbol {
                    width: 20px;
                }
            }
            .col-6 {
                padding: $base_Spacing $base_Spacing/4;
            }

            .btn {
                display: block;
                position: absolute;
                bottom: 5px;
                right: 0;
            }
        }
    }

    &.contact{
        h3{
            padding: $base_Spacing/3 0
        }
        .btn{
            margin: auto;
        }

        .onsubmit{
            height: 250px;
            text-align: center;
        }
    }
}
