section {
    padding: $base_Spacing * 2 0;

    &.withPattern {
        background: url(../public/imgs/pattern.png);
        background-repeat: repeat-x;

        .flex-container {
            align-items: center;

            h2 {
                color: $Color_Cube_sugar_cane;
                font-weight: 100;
                font-size: $min_font_size * 3;
                flex-grow: 1;
            }
        }
    }

    h1,
    p{
        font-weight: 100;
        text-align: center;
        
    }

    h1 {
        color: $Color_Cube_butterfly-bush;
        font-size: $min_font_size * 4;
    }

    p {
        color: $Color_Cube_mine-shaft;
        font-size: $min_font_size;
    }

    .divider{
        display: block;
        margin: auto;
        padding: $base_Spacing *2;
    }
}
