<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100;400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <link rel="stylesheet" href="dist/app.css">
  <title>Fable</title>
</head>

<body>
  <div id="app">
    <header>
      <div class="container">
        <div class="flex-container">
          <div class="logo-container">
            <img class="normal" src="public/imgs/logo.png" alt="logo">
          </div>
          <div class="whitespace"></div>
          <nav>
            <ul>
              <li v-for="li in  headerList">
                <img class="normal" :src="li.icon" alt="icon">
                <img class="onHover" :src="li.iconOnHover" alt="icon">
                {{li.name}}
              </li>
            </ul>
          </nav>
        </div>
      </div>
      <div class="hero" tabindex="-1" @keyup.left="leftArrow" @keyup.right="rightArrow(false)">
        <transition-group class="img-slider" tag="div" :name="back ? 'slideback' : 'slide'">
          <div class="sliderCenter" :key="heroSliderList[defaultVueImg].id"
            :style="{ backgroundImage: 'url(' + heroSliderList[defaultVueImg].background + ')' }">
            <div class="imgContainer left">
              <img :src="heroSliderList[defaultVueImg].leftImg" alt="">
            </div>
            <div class="imgContainer right">
              <img :src="heroSliderList[defaultVueImg].rightImg" alt="">
            </div>
            <div class="dotsContainer">
              <div v-for="(slide, indice) in heroSliderList" @click="dotClick(indice)"
                :class="{up: indice == defaultVueImg}" class="dot"></div>
            </div>
          </div>
        </transition-group>
      </div>
    </header>
    <main>
      <section class="withPattern" style="background-image: url(public/imgs/pattern.png)">
        <div class="container">
          <div class="flex-container">
            <h2>How to Enroll Your Child to a Class</h2>
            <div class="btn invisible">LEARN MORE
              <i class="fas fa-chevron-right"></i>
            </div>
          </div>
        </div>
      </section>
      <section>
        <div class="container">
          <div class="section-header">
            <h1>Welcome to Fable</h1>
            <p>Fable daycare, preschool and kindergarten</p>
            <img class="divider" src="public/imgs/header_divider.png" alt="divider">
          </div>
          <div class="flex-container">
            <div class="col-3">
              <div class="round orange">
                <img src="public/imgs/schoolbag_alt.png" alt="schoolbag">
              </div>
              <h3>Morbi etos</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum non velit a veritatis nulla est
                repellendus.</p>
            </div>
            <div class="col-3">
              <div class="round purple">
                <img src="public/imgs/stroller_alt.png" alt="stroller">
              </div>
              <h3>Congue gravida</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum non velit a veritatis nulla est
                repellendus.</p>
            </div>
            <div class="col-3">
              <div class="round orange">
                <img src="public/imgs/globe_alt.png" alt="globe">
              </div>
              <h3>Maecenas Node</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum non velit a veritatis nulla est
                repellendus.</p>
            </div>
            <div class="col-3">
              <div class="round purple">
                <img src="public/imgs/bell_alt.png" alt="bell">
              </div>
              <h3>Praesent Morbi</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum non velit a veritatis nulla est
                repellendus.</p>
            </div>
          </div>
        </div>
      </section>
      <section class="grey">
        <div class="container">
          <div class="flex-container">
            <div class="col-6">
              <div class="btn baloon">Overview</div>
              <div class="btn baloon">Our Mission</div>
              <h2>Our philosophy il learning through play as we offer a stimulating enviroment for chideren</h2>
              <div class="flex-container row">
                <div class="round small orange">
                  <img src="public/imgs/clock_alt.png" alt="clock">
                </div>
                <div class="grow">
                  <div class="text">
                    <h3>Full day sessions</h3>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ducimus illum in dicta?</p>
                  </div>
                </div>
              </div>
              <div class="flex-container row">
                <div class="round small orange">
                  <img src="public/imgs/diagram_alt.png" alt="diagram">
                </div>
                <div class="grow">
                  <div class="text">
                    <h3>Varied classes</h3>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ducimus illum in dicta?</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-6">
              <div class="slider-container" tabindex="-1">
                <div class="btn orange" @click="leftClick">
                  <img src="public/imgs/slider_previous.png" alt="previous">
                </div>
                <div class="btn orange right" @click="rightClick(false)">
                  <img src="public/imgs/slider_next.png" alt="next">
                </div>
                <div class="square-big-slider">
                  <img :src="sectionSliderList[1].imgPath" alt="img">
                  <div class="img-overlay round purple transparent">
                    <img src="public/imgs/image_overlay.png" alt="add">
                  </div>
                </div>

                <div class="flex-container">
                  <div v-if="sectionSliderList.length > 0" v-for="(pic, index) in sectionSliderList"
                    :class="{underline: index == 1}" class="square-small-slider">
                    <img key="sectionSliderList[index].id" :src="sectionSliderList[index].imgPath" alt="small img">
                    <div class="img-overlay small round purple transparent">
                      <img src="public/imgs/image_overlay.png" alt="add">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="parallax stats">
        <div class="container">
          <div class="flex-container">
            <div class="col-3">
              <div class="round transparent">507</div>
              <h3>Our pupils</h3>
              <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
            </div>
            <div class="col-3">
              <div class="round transparent">235</div>
              <h3>Teaching Hours</h3>
              <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
            </div>
            <div class="col-3">
              <div class="round transparent">100%</div>
              <h3>Satisfied Parents</h3>
              <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
            </div>
            <div class="col-3">
              <div class="round transparent">1050</div>
              <h3>Meals per Year</h3>
              <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
            </div>
          </div>
          <div class="dotsContainer">
            <div class="dot up"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
          </div>
        </div>
      </section>
      <section class="white">
        <div class="section-header">
          <h1>Our Classes</h1>
          <p>Our preschool program has four dedicated classes</p>
          <img class="divider" src="public/imgs/header_divider.png" alt="divider">
        </div>
        <div class="container">
          <div class="flex-container classes">
            <div class="col-6 flex-container fd-column">
              <h2>We provided four classes with four to twenty childern each aged twelve month to five years of age</h2>
              <div class="flex-container fd-column">
                <div class="flex-container card">
                  <div class="col-6 bg-purple flex-container fd-column card-left">
                    <h3>Little Lambs</h3>
                    <p>Class name</p>
                    <div class="whitespace"></div>
                    <div class="flex-container">
                      <div class="col-6 border-right">
                        <div class="flex-container fd-column ta-center">
                          <h4>12-24</h4>
                          <p>Month olds</p>
                        </div>
                      </div>
                      <div class="col-6">
                        <div class="flex-container fd-column ta-center">
                          <h4>9</h4>
                          <p>Class size</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-6 card-right flex-container fd-column">
                    <div class="simple-square grow">
                      <img src="public/imgs/class_01-690x506.jpg" alt="class 1">
                      <div class="btn orange">
                        READ MORE
                        <i class="fas fa-chevron-right"></i>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="flex-container fd-column">
                  <div class="flex-container card">
                    <div class="col-6 bg-purple flex-container fd-column card-left">
                      <h3>Tenderhearts</h3>
                      <p>Class name</p>
                      <div class="whitespace"></div>
                      <div class="flex-container">
                        <div class="col-6 border-right">
                          <div class="flex-container fd-column ta-center">
                            <h4>3-4</h4>
                            <p>Month olds</p>
                          </div>
                        </div>
                        <div class="col-6">
                          <div class="flex-container fd-column ta-center">
                            <h4>15</h4>
                            <p>Class size</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-6 card-right flex-container fd-column">
                      <div class="simple-square grow">
                        <img src="public/imgs/class_02-690x506.jpg" alt="class 2">
                        <div class="btn orange">
                          READ MORE
                          <i class="fas fa-chevron-right"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-6 flex-container fd-column">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum id, omnis laboriosam eos
                temporibus
                nisi? Ut, veniam natus! Maiores ad excepturi ipsam quas rerum consectetur vel, corrupti exercitationem
                iure laborum, qui dicta?</p>
              <div class="flex-container fd-column">
                <div class="flex-container card">
                  <div class="col-6 bg-purple flex-container fd-column card-left">
                    <h3>Little Lambs</h3>
                    <p>Class name</p>
                    <div class="whitespace"></div>
                    <div class="flex-container">
                      <div class="col-6 border-right">
                        <div class="flex-container fd-column ta-center">
                          <h4>12-24</h4>
                          <p>Month olds</p>
                        </div>
                      </div>
                      <div class="col-6">
                        <div class="flex-container fd-column ta-center">
                          <h4>9</h4>
                          <p>Class size</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-6 card-right flex-container fd-column">
                    <div class="simple-square grow">
                      <img src="public/imgs/class_03-690x506.jpg" alt="class 3">
                      <div class="btn orange">
                        READ MORE
                        <i class="fas fa-chevron-right"></i>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="flex-container fd-column">
                  <div class="flex-container card">
                    <div class="col-6 bg-purple flex-container fd-column card-left">
                      <h3>Tenderhearts</h3>
                      <p>Class name</p>
                      <div class="whitespace"></div>
                      <div class="flex-container">
                        <div class="col-6 border-right">
                          <div class="flex-container fd-column ta-center">
                            <h4>3-4</h4>
                            <p>Month olds</p>
                          </div>
                        </div>
                        <div class="col-6">
                          <div class="flex-container fd-column ta-center">
                            <h4>15</h4>
                            <p>Class size</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-6 card-right flex-container fd-column">
                      <div class="simple-square grow">
                        <img src="public/imgs/class_04-690x506.jpg" alt="class 4">
                        <div class="btn orange">
                          READ MORE
                          <i class="fas fa-chevron-right"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </section>
      <section class="grey">
        <div class="container">
          <div class="flex-container">
            <div class="col-6">
              <h2>We have been educating children for over fifteen years. Our goal is to create a place that engages
                each child.</h2>
              <p class="spaced-par">Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus dolorem sequi
                perspiciatis? Rem labore alias hic harum obcaecati cumque nisi, error nesciunt expedita odit.</p>
              <div class="flex-container row">
                <img class="checkbox" src="public/imgs/style_1.png" alt="checkbox">
                <p>Comprehensive reporting on individual archievement</p>
              </div>
              <div class="flex-container row">
                <img class="checkbox" src="public/imgs/style_1.png" alt="checkbox">
                <p>Educational field trips and school presentations</p>
              </div>
              <div class="flex-container row">
                <img class="checkbox" src="public/imgs/style_1.png" alt="checkbox">
                <p>Individual attention in a small-class setting</p>
              </div>
              <div class="flex-container row">
                <img class="checkbox" src="public/imgs/style_1.png" alt="checkbox">
                <p>Learning program with after school care</p>
              </div>
              <div class="flex-container row">
                <img class="checkbox" src="public/imgs/style_1.png" alt="checkbox">
                <p>Opportuinities to carry out scientific investigations</p>
              </div>
              <div class="flex-container row">
                <img class="checkbox" src="public/imgs/style_1.png" alt="checkbox">
                <p>Poitive learning enviroment for your child</p>
              </div>
            </div>
            <div class="col-6">
              <div class="flex-container fd-column">
                <div class="flex-container">
                  <div class="module flex-container col-6 fd-column">
                    <div class="round white">
                      <img src="public/imgs/toy.png" alt="toy">
                    </div>
                    <h3 class="ta-center">Learning & Fun</h3>
                    <p class="ta-center">Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
                  </div>
                  <div class="module flex-container col-6 fd-column">
                    <div class="round white">
                      <img src="public/imgs/meal.png" alt="meal">
                    </div>
                    <h3 class="ta-center">Healthy Meals</h3>
                    <p class="ta-center">Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
                  </div>
                </div>
              </div>
              <div class="flex-container fd-column">
                <div class="flex-container">
                  <div class="module flex-container col-6 fd-column">
                    <div class="round white">
                      <img src="public/imgs/school.png" alt="school">
                    </div>
                    <h3 class="ta-center">Friendly Place</h3>
                    <p class="ta-center">Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
                  </div>
                  <div class="module flex-container col-6 fd-column">
                    <div class="round white">
                      <img src="public/imgs/shield.png" alt="shield">
                    </div>
                    <h3 class="ta-center">Children Safety</h3>
                    <p class="ta-center">Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="gallery">
        <div class="flex-container">
          <div class="col-3">
            <img src="public/imgs/gallery_01.jpg" alt="gallery 1">
          </div>
          <div class="col-3">
            <img src="public/imgs/gallery_02.jpg" alt="gallery 2">
          </div>
          <div class="col-3">
            <img src="public/imgs/gallery_03.jpg" alt="gallery 3">
          </div>
          <div class="col-3">
            <img src="public/imgs/gallery_04.jpg" alt="gallery 4">
          </div>
        </div>
      </section>
      <section class="withPattern" style="background-image: url(public/imgs/pattern.png)">
        <div class="container">
          <div class="flex-container">
            <h2>See Our Kindergarten Photo Gallery</h2>
            <div class="btn invisible">VIEW GALLERY
              <i class="fas fa-chevron-right"></i>
            </div>
          </div>
        </div>
      </section>
      <section class="white card-section">
        <div class="section-header">
          <h1>Meet our Staff</h1>
          <p>With education and experience in early childhood care</p>
          <img class="divider" src="public/imgs/header_divider.png" alt="divider">
        </div>
        <div class="container">
          <div class="flex-container">
            <div class="col-6 lex-container fd-column">
              <h2>Our staff consist of teachers and one assistant with experience in early childhood care</h2>
              <div class="flex-container fd-column">
                <div class="flex-container main-card">
                  <div class="col-6 main-card-img-container">
                    <img src="public/imgs/team_01.jpg" alt="team 1">
                    <div class="img-overlay round purple medium transparent">
                      <img src="public/imgs/image_overlay.png" alt="add">
                    </div>
                  </div>
                  <div class="col-6 main-card-text-conttainer">
                    <div class="quote-div flex-container">
                      <div class="whitespace"></div>
                      <img src="public/imgs/quote.png" alt="quote">
                    </div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae sequi deserunt quasi possimus
                      repellat. Deserunt minima fugit delectus, illum optio accusamus omnis, dolore dicta velit deleniti
                      fuga corrupti cupiditate voluptatibus facilis eos.</p>
                  </div>
                </div>
                <div class="flex-container card-footer">
                  <div class="col-6">
                    <h3>Ruth RIchie</h3>
                    <p>Teacher</p>
                  </div>
                  <div class="col-6">
                    <div class="flex-container">
                      <div class="btn orange">
                        <img src="public/imgs/mail.png" alt="mail">
                      </div>
                      <div class="btn orange">
                        <img src="public/imgs/facebook.png" alt="facebook">
                      </div>
                      <div class="btn orange">
                        <img src="public/imgs/pinterest.png" alt="pinterest">
                      </div>

                    </div>
                  </div>
                </div>
              </div>
              <div class="flex-container fd-column">
                <div class="flex-container main-card">
                  <div class="col-6 main-card-img-container">
                    <img src="public/imgs/team_02.jpg" alt="team 2">
                    <div class="img-overlay round medium purple transparent">
                      <img src="public/imgs/image_overlay.png" alt="add">
                    </div>
                  </div>
                  <div class="col-6 main-card-text-conttainer">
                    <div class="quote-div flex-container">
                      <div class="whitespace"></div>
                      <img src="public/imgs/quote.png" alt="quote">
                    </div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae sequi deserunt quasi possimus
                      repellat. Deserunt minima fugit delectus, illum optio accusamus omnis, dolore dicta velit deleniti
                      fuga corrupti cupiditate voluptatibus facilis eos.</p>
                  </div>
                </div>
                <div class="flex-container card-footer">
                  <div class="col-6">
                    <h3>Angelica Watson</h3>
                    <p>Lead Teacher</p>
                  </div>
                  <div class="col-6">
                    <div class="flex-container">
                      <div class="btn orange">
                        <img src="public/imgs/bing.png" alt="bing">
                      </div>
                      <div class="btn orange">
                        <img src="public/imgs/skype.png" alt="skype">
                      </div>
                      <div class="btn orange">
                        <img src="public/imgs/linkedin.png" alt="linkedin">
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-6 flex-container fd-column">
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam distinctio repellat necessitatibus
                et quia voluptatem saepe sint voluptates earum reprehenderit, velit accusamus similique repudiandae iure
                ratione neque veniam optio rerum quod modi?</p>
              <div class="flex-container fd-column">
                <div class="flex-container main-card">
                  <div class="col-6 main-card-img-container">
                    <img src="public/imgs/team_03.jpg" alt="team 3">
                    <div class="img-overlay round medium purple transparent">
                      <img src="public/imgs/image_overlay.png" alt="add">
                    </div>
                  </div>
                  <div class="col-6 main-card-text-conttainer">
                    <div class="quote-div flex-container">
                      <div class="whitespace"></div>
                      <img src="public/imgs/quote.png" alt="quote">
                    </div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae sequi deserunt quasi possimus
                      repellat. Deserunt minima fugit delectus, illum optio accusamus omnis, dolore dicta velit deleniti
                      fuga corrupti cupiditate voluptatibus facilis eos.</p>
                  </div>
                </div>
                <div class="flex-container card-footer">
                  <div class="col-6">
                    <h3>Kathie Willmore</h3>
                    <p>Assistant Teacher</p>
                  </div>
                  <div class="col-6">
                    <div class="flex-container">
                      <div class="btn orange">
                        <img src="public/imgs/dribbble.png" alt="dribbble">
                      </div>
                      <div class="btn orange">
                        <img src="public/imgs/facebook.png" alt="facebook">
                      </div>
                      <div class="btn orange">
                        <img src="public/imgs/stumbleupon.png" alt="stumbleupon">
                      </div>

                    </div>
                  </div>
                </div>
              </div>
              <div class="flex-container fd-column">
                <div class="flex-container main-card">
                  <div class="col-6 main-card-img-container">
                    <img src="public/imgs/team_04.jpg" alt="team 4">
                    <div class="img-overlay round medium purple transparent">
                      <img src="public/imgs/image_overlay.png" alt="add">
                    </div>
                  </div>
                  <div class="col-6 main-card-text-conttainer">
                    <div class="quote-div flex-container">
                      <div class="whitespace"></div>
                      <img src="public/imgs/quote.png" alt="quote">
                    </div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae sequi deserunt quasi possimus
                      repellat. Deserunt minima fugit delectus, illum optio accusamus omnis, dolore dicta velit deleniti
                      fuga corrupti cupiditate voluptatibus facilis eos.</p>
                  </div>
                </div>
                <div class="flex-container card-footer">
                  <div class="col-6">
                    <h3>Angela Lynn</h3>
                    <p>Lead Teacher</p>
                  </div>
                  <div class="col-6">
                    <div class="flex-container">
                      <div class="btn orange">
                        <img src="public/imgs/youtube.png" alt="youtube">
                      </div>
                      <div class="btn orange">
                        <img src="public/imgs/twitter.png" alt="twitter">
                      </div>
                      <div class="btn orange">
                        <img src="public/imgs/googleplus.png" alt="googleplus">
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </section>
      <section class="parallax kindergarten">
        <div class="container">
          <div class="round transparent small">
            <img src="public/imgs/quote_alt.png" alt="">
          </div>
          <h2 class="ta-center">Fable Kindergarten is a great place for my daughter to start her schooling experince.
            It's welcoming and safe and my daughter loves being there.</h2>
          <div class="as-hr"></div>
          <p class="ta-center">Joe R. Hamblen</p>
          <div class="dotsContainer">
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot up"></div>
            <div class="dot"></div>
            <div class="dot"></div>
          </div>
        </div>



      </section>
      <section class="white blog">
        <div class="section-header">
          <h1>What's New</h1>
          <p>Keep up to daye with the latest News</p>
          <img class="divider" src="public/imgs/header_divider.png" alt="divider">
        </div>
        <div class="container">
          <div class="flex-container">
            <div class="col-4">
              <p>October 03, 2014</p>
              <div class="blog-card">
                <div class="blog-card-img-container">
                  <img src="public/imgs/blog_08-690x414.jpg" alt="blog1">
                  <div class="btn orange">42</div>
                </div>
                <h3>Drawing and painting lessons</h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nisi pariatur sint ex esse sed mollitia
                  obcaecati aliquam, dicta nihil excepturi!</p>
                <div class="flex-container">
                  <div class="col-6 flex-container">
                    <img class="symbol" src="public/imgs/author.png" alt="author">
                    <div class="whitespace"></div>
                    <p>Anna Brown</p>
                  </div>
                  <div class="col-6 flex-container">
                    <img class="symbol" src="public/imgs/category.png" alt="category">
                    <div class="whitespace"></div>
                    <p>Events, fun</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-4">
              <p>October 03, 2014</p>
              <div class="blog-card">
                <div class="blog-card-img-container">
                  <img src="public/imgs/blog_09-690x414.jpg" alt="blog1">
                  <div class="btn orange">19</div>
                </div>

                <h3>Fall parents meeting day</h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nisi pariatur sint ex esse sed mollitia
                  obcaecati aliquam, dicta nihil excepturi!</p>
                <div class="flex-container">
                  <div class="col-6 flex-container">
                    <img class="symbol" src="public/imgs/author.png" alt="author">
                    <div class="whitespace"></div>
                    <p>Anna Brown</p>
                  </div>
                  <div class="col-6 flex-container">
                    <img class="symbol" src="public/imgs/category.png" alt="category">
                    <div class="whitespace"></div>
                    <p>Events, fun</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-4">
              <p>October 03, 2014</p>
              <div class="blog-card">
                <div class="blog-card-img-container">
                  <img src="public/imgs/blog_10-690x414.jpg" alt="blog2">
                  <div class="btn orange">22</div>
                </div>

                <h3>Birthday in kindergarten</h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nisi pariatur sint ex esse sed mollitia
                  obcaecati aliquam, dicta nihil excepturi!</p>
                <div class="flex-container">
                  <div class="col-6 flex-container">
                    <img class="symbol" src="public/imgs/author.png" alt="author">
                    <div class="whitespace"></div>
                    <p>Anna Brown</p>
                  </div>
                  <div class="col-6 flex-container">
                    <img class="symbol" src="public/imgs/category.png" alt="category">
                    <div class="whitespace"></div>
                    <p>Events, fun</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="btn orange">GO TO BLOG
          <i class="fas fa-chevron-right"></i>
        </div>
      </section>
      <section>
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d359536.14505372546!2d-76.08044024428723!3d45.250297491182984!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4cce05b25f5113af%3A0x8a6a51e131dd15ed!2sOttawa%2C%20Ontario%2C%20Canada!5e0!3m2!1sit!2sit!4v1622026877012!5m2!1sit!2sit"
          width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
      </section>
      <section class="white contact">
        <div class="section-header">
          <h1>Contact us</h1>
          <p>Our postal address and contact details</p>
          <img class="divider" src="public/imgs/header_divider.png" alt="divider">
        </div>
        <div class="container">
          <div class="flex-container">
            <div class="col-3">
              <div class="small-img-container">
                <img src="public/imgs/envelope (1).png" alt="mail">
              </div>
              <h3 class="ta-center">Postal adderss</h3>
              <p>Fable Care Center 85 Fentiman Ave Ottawa ON K1 50T7</p>
            </div>
            <div class="col-3">
              <div class="small-img-container">
                <img src="public/imgs/mobile.png" alt="mobile">
              </div>
              <h3 class="ta-center">Postal adderss</h3>
              <p>Fable Care Center 85 Fentiman Ave Ottawa ON K1 50T7</p>
            </div>
            <div class="col-3">
              <div class="small-img-container">
                <img src="public/imgs/clock.png" alt="clock">
              </div>
              <h3 class="ta-center">Postal adderss</h3>
              <p>Fable Care Center 85 Fentiman Ave Ottawa ON K1 50T7</p>
            </div>
            <div class="col-3">
              <div class="small-img-container">
                <img src="public/imgs/document (1).png" alt="document">
              </div>
              <h3 class="ta-center">Postal adderss</h3>
              <p>Fable Care Center 85 Fentiman Ave Ottawa ON K1 50T7</p>
            </div>
          </div>
          <div v-if="!submit" class="input-area">
            <div class="flex-container">
              <div class="col-6">
                <div class="input-left">
                  <input type="text" name="name" id="name" v-model="UserName" placeholder="Your Name">
                  <input type="e-mail" name="email" id="email" v-model="UserEmail" placeholder="Your E-Mail">
                  <input type="text" name="subject" id="subject" v-model="UserSubject" placeholder="Subject">
                </div>
              </div>
              <div class="col-6">
                <textarea name="message" id="message" v-model="UserMessage" placeholder="Your Message"></textarea>
              </div>
            </div>
            <div @click="formSubmit()" class="btn orange">SEND MESSAGE</div>
          </div>
          <div v-else class="onsubmit">
            <h1>Thanks for contacting us, {{UserName}}</h1>
          </div>
      </section>
    </main>
    <footer style="background-image: url(public/imgs/pattern.png)">
      <div class="container">
          <div class="row">
            <div class="col-3 float">
              <h2>ABOUT</h2>
              <div class="as-hr"></div>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque culpa possimus dolorum similique unde dignissimos praesentium corporis in vitae quae.</p>
              <div class="small-logo-container">
                <img src="public/imgs/logo_footer.png" alt="small logo">
              </div>
            </div>
            <div class="col-3 float">
              <h2>ARCHIVES</h2>
              <div class="as-hr"></div>
              <div class="my-table">
                <div v-for="item in storedData" class="tc">{{item.month +" "+item.year +" ("+ item.numbersOfData + ")"}}</div>
              </div>
            </div>  
            <div class="col-3 float">
              <h2>OUR FEATURES</h2>
              <div class="as-hr"></div>
              <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Hic tempora rerum soluta possimus, ad ullam.</p>
              <div class="checklist">
                <img src="public/imgs/style_4_alt.png" alt="check">
                <p>Lorem ipsum dolor sit.</p>
              </div>
              <div class="checklist">
                <img src="public/imgs/style_4_alt.png" alt="check">
                <p>Lorem ipsum dolor sit.</p>
              </div>
              <div class="checklist">
                <img src="public/imgs/style_4_alt.png" alt="check">
                <p>Lorem ipsum dolor sit.</p>
              </div>
              <div class="checklist">
                <img src="public/imgs/style_4_alt.png" alt="check">
                <p>Lorem ipsum dolor sit.</p>
              </div>
              <div class="checklist">
                <img src="public/imgs/style_4_alt.png" alt="check">
                <p>Lorem ipsum dolor sit.</p>
              </div>
              <div class="checklist">
                <img src="public/imgs/style_4_alt.png" alt="check">
                <p>Lorem ipsum dolor sit.</p>
              </div>
            </div>
            <div class="col-3 float">
              <h2>RECENT POSTS</h2>
              <div class="as-hr"></div>
              <div v-for="item in recentPosts" class="activities">
                <img :src="item.imgPath" alt="blog activities">
                <div class="text">
                  <h4>{{item.title}}</h4>
                  <div class="flex-container">
                    <img class="date" src="public/imgs/date_footer.png" alt="date">
                    <p>{{item.day}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
       </div>
    </footer>
  </div>
  <script src="scripts/app.js"></script>
</body>

</html>