.img-slider {
    overflow: hidden;
    position: relative;
    height: 600px;
}

.slide-enter-active {
    transition: 1s ease;
}

.slide-leave-active {
    transition: 2s cubic-bezier(1, 0.5, 0.8, 1);
}
.slide-enter {
    transform: translate(100%, 0);
    opacity: 0;
}
.slide-leave-to {
    transform: translate(-100%, 0);
    opacity: 0;
}

.slideback-enter-active {
    transition: 2s ease;
}
.slideback-leave-active {
    transition: 1s cubic-bezier(1, 0.5, 0.8, 1);
}
.slideback-enter {
    transform: translate(-100%, 0);
    opacity: 0;
}
.slideback-leave-to {
    transform: translate(100%, 0);
    opacity: 0;
}
