footer{
    padding: $base_Spacing*3 0;
    h2, p{
        color: $Color_Cube_sugar_cane;
        padding: $base_Spacing/2 0;
    }
    .as-hr{
        width: 50%;
        margin: 0;
    }
    h2{
        font-size: $min_font_size*2;
    }
    p{
        font-size: $min_font_size*1.5;
        font-weight: 100;
    }

    .my-table{
        padding: $base_Spacing/2 0;
        .tc{
            padding: $base_Spacing/2;
            color: $Color_Cube_sugar_cane; 
            border: 1px solid $Color_Cube_sugar_cane;
        }
    }

    .row{
        &::after{
            content: "";
            display: table;
            clear: both;
        }
    }
    .float{
        float: left;
        padding: 0 $base_Spacing/2
    }

    .checklist{
        display: flex;
        align-items: center;
        img{
            width: 20px;
            object-fit: contain;
        }
    }
    .activities{
        padding: $base_Spacing/2 0;
        display: flex;
        img{
            width: 70px;
            object-fit: contain;
        }
        .text{
            padding-left: $base_Spacing / 2;
            h4{
                color: $Color_Cube_sugar_cane;  
            }
            .date{
                width: 15px;
                object-fit: contain;
                margin-right: $base_Spacing / 2; ;
            }
        }

    }
}