//Color palette

$Color_Cube_sugar_cane: #FEFFFE;
$Color_Cube_butterfly-bush: #554D9E;
$Color_Cube_mine-shaft: #262626;
$Color_Cube_blaze-orange: #FE6602;
$Color_Cube_cameo: #D8AC95;
$Color_Cube_crimson: #D71938;
$Color_Cube_sushi: #84B443;
$Color_Cube_limeade: #36AD04;
$Color_Cube_school-bus-yellow: #FCD900;
$Color_Cube_curious-blue: #1AAFE4;

$Median_Cut_bon-jour: #E8E6E7;
$Median_Cut_east-bay: #444275;
$Median_Cut_mojo: #C34936;
$Median_Cut_twine: #C29458;
$Median_Cut_vide-loca: #48BD27;

$Material_Design_victoria: #4C4A9B;
$Material_Design_eunry: #CDA08F;
$Material_Design_lima: #48BD22;
$Material_Design_tuatara: #242423;
$Material_Design_cashmere: #E1BEA5;